*.db
*.json
*.list
*.layout
*.jts
*.qvm
*.db
build\win32-qvm\vm
obj\
*.bak
*.prt
*.srf
assets/baseq3
*.dm_68
*.log
*.cfg
*.dat
*.exe
q3history
*.pk3
assets/dfx/screenshots/*.*

release/defragx.zip
Makefile
