<style type="text/css" title="text/css">
<!--
body {font:11pt Arial, Helvetica, sans-serif; background-color: white;}
div {font:11pt Arial, Helvetica, sans-serif;}
p {font: inherit;}
p.white {font: inherit; color: white;}
th {font:11pt Arial, Helvetica, sans-serif; font-weight: bold;}
th.larger {font:12pt Arial, Helvetica, sans-serif; font-weight: bold;}
td {font:11pt Arial, Helvetica, sans-serif;}
td.fixedwidth {font:10pt Monaco, "Lucida Sans Typewriter", "Andale Mono", Courier;}
td.larger {font:12pt Arial, Helvetica, sans-serif;}
h2 {font:14pt Arial, Helvetica, sans-serif; font-weight: bold;}
h3 {font:12pt Arial, Helvetica, sans-serif; font-weight: bold;}
.bold {font-weight: bold;}
.red {color: red;}
.royalblue {color: royalblue;}
.white {color: white;}
.purple {color: #c0f;}
.blue {background-color: #025aa4;}
.smaller {font:10pt Arial, Helvetica, sans-serif;}
.nominal {font:11pt Arial, Helvetica, sans-serif;}
.larger {font:12pt Arial, Helvetica, sans-serif;}
.bgimage { background-image: url(images/checkerboard.gif);}

a:link, a:active, a:visited 
	{
	color: #00f;
	text-decoration: none; 
	font:11pt Arial, Helvetica, sans-serif;
	}

a:hover
	{
	color: #00f;
	background-color: mistyrose;
	text-decoration: none;
	font:11pt Arial, Helvetica, sans-serif;
	}

#nav
	{
	float: left;
	width: 100%;
	margin: 0;
	padding: 0 0 0 10px;
	list-style: none;
	background-color: #025aa4;
	}
	
#nav li
	{
	float: left;
	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	}

#nav a
	{
	float: left;
	display: block;
	width: 9em;	/* sets fixed width of each tab */
	margin: 0 2px 0 0;
	padding: 4px 8px;
	color: black;
	text-decoration: none;
	border: 1px solid black;
	border-bottom: none;
	background-color: wheat;
	}

#nav a:hover
	{
	color: blue;
	background-color: mistyrose;
	}

#nav body#homepage #t_homepage a, body#\2colorthresh #t_2colorthresh a, body#\3Dbox #t_3Dbox a, body#\3Dcover #t_3Dcover a, body#\3Dreflection #t_3Dreflection a, body#\3Drotate #t_3Drotate a, body#\3Dtext #t_3Dtext a, body#accentedges #t_accentedges a, body#adaptivegamma #t_adaptivegamma a, body#adaptivegamma2 #t_adaptivegamma2 a, body#adjoin #t_adjoin a, body#anglegradient #t_anglegradient a, body#aspect #t_aspect a, body#aspectcrop #t_aspectcrop a, body#aspectpad #t_aspectpad a, body#autocaption #t_autocaption a, body#autocolor #t_autocolor a, body#autogamma #t_autogamma a, body#autolabel #t_autolabel a, body#autolevel #t_autolevel a, body#autotone #t_autotone a, body#autotone2 #t_autotone2 a, body#autotrim #t_autotrim a, body#autowhite #t_autowhite a, body#balance #t_balance a, body#bcimage #t_bcimage a, body#bcmatch #t_bcmatch a, body#bevel #t_bevel a, body#bevelborder #t_bevelborder a, body#bilinearwarp #t_bilinearwarp a, body#binomial #t_binomial a, body#binomialedge #t_binomialedge a, body#bokeh #t_bokeh a, body#bordereffects #t_bordereffects a, body#bordergrid #t_bordergrid a, body#bubblewarp #t_bubblewarp a, body#bump #t_bump a, body#bumptext #t_bumptext a, body#camerablur #t_camerablur a, body#cameradeblur #t_cameradeblur a, body#captcha #t_captcha a, body#cartoon #t_cartoon a, body#centertrim #t_centertrim a, body#cepstrum #t_cepstrum a, body#chrome #t_chrome a, body#clip #t_clip a, body#collage #t_collage a, body#color2alpha #t_color2alpha a, body#color2gray #t_color2gray a, body#coloration #t_coloration a, body#colorbalance #t_colorbalance a, body#colorbalance2 #t_colorbalance2 a, body#colorboost #t_colorboost a, body#colorcells #t_colorcells a, body#colorconverter #t_colorconverter a, body#colorcoords #t_colorcoords a, body#colorfilter #t_colorfilter a, body#colorfulness #t_colorfulness a, body#colorglow #t_colorglow a, body#colorspectrum #t_colorspectrum a, body#colortemp #t_colortemp a, body#colortoning #t_colortoning a, body#cone #t_cone a, body#conformal #t_conformal a, body#contour #t_contour a, body#corners #t_corners a, body#cosinebell #t_cosinebell a, body#crosshatch #t_crosshatch a, body#crossprocess #t_crossprocess a, body#crystallize #t_crystallize a, body#cube2sphericalpano #t_cube2sphericalpano a, body#cumhist #t_cumhist a, body#curves #t_curves a, body#cylinderize #t_cylinderize a, body#cylinderwarp #t_cylinderwarp a, body#davehilleffect #t_davehilleffect a, body#defisheye #t_defisheye a, body#denoise #t_denoise a, body#derivative #t_derivative a, body#diagcollage #t_diagcollage a, body#dice #t_dice a, body#disperse #t_disperse a, body#dog #t_dog a, body#dominantcolor #t_dominantcolor a, body#dotproductcorr #t_dotproductcorr a, body#downsize #t_downsize a, body#draganeffect #t_draganeffect a, body#dualtonemap #t_dualtonemap a, body#duotonemap #t_duotonemap a, body#edgefx #t_edgefx a, body#edges #t_edges a, body#emboss #t_emboss a, body#embroidery #t_embroidery a, body#endpoints #t_endpoints a, body#enhancelab #t_enhancelab a, body#enrich #t_enrich a, body#entropy #t_entropy a, body#exposure #t_exposure a, body#feather #t_feather a, body#fftconvol #t_fftconvol a, body#fftdeconvol #t_fftdeconvol a, body#fftfilter #t_fftfilter a, body#filmgrain #t_filmgrain a, body#fisheye #t_fisheye a, body#fisheye2pano #t_fisheye2pano a, body#fisheye2rect #t_fisheye2rect a, body#flicker #t_flicker a, body#flickerchannel #t_flickerchannel a, body#frosted #t_frosted a, body#furrowed #t_furrowed a, body#fuzzythresh #t_fuzzythresh a, body#fxtransitions #t_fxtransitions a, body#gaussian #t_gaussian a, body#gaussianedge #t_gaussianedge a, body#glasseffects #t_glasseffects a, body#glow #t_glow a, body#gradient #t_gradient a, body#graytoning #t_graytoning a, body#greenscreen #t_greenscreen a, body#grid #t_grid a, body#halo #t_halo a, body#hamming #t_hamming a, body#hexagons #t_hexagons a, body#histcompare #t_histcompare a, body#histmatch #t_histmatch a,body#histog #t_histog a, body#houghlines #t_houghlines a,body#huemap #t_huemap a, body#imageborder #t_imageborder a, body#innercrop #t_innercrop a, body#interleave #t_interleave a, body#interweave #t_interweave a, body#isodatathresh #t_isodatathresh a, body#isolatecolor #t_isolatecolor a, body#isonoise #t_isonoise a, body#juliaset #t_juliaset a, body#kaleidoscope #t_kaleidoscope a, body#kaleidoscopic #t_kaleidoscopic a, body#kapurthresh #t_kapurthresh a, body#kmeans #t_kmeans a, body#kmeansthresh #t_kmeansthresh a, body#kneemap #t_kneemap a, body#kuwahara #t_kuwahara a, body#laplacian #t_laplacian a, body#lenswarp #t_lensewarp a, body#levelcolors #t_levelcolors a, body#levels #t_levels a, body#lichtenstein #t_lichtenstein a, body#limitedtrim #t_limitedtrim a, body#localthresh #t_localthresh a, body#locatecolors #t_locatecolors a, body#lucisarteffect #t_lucisarteffect a, body#lupe #t_lupe a, body#magicwand #t_magicwand a, body#mandala #t_mandala a, body#mandalascope #t_mandalascope a, body#mandelbrot #t_mandelbrot a, body#mapcolors #t_mapcolors a, body#matchimage #t_matchimage a, body#maxima #t_maxima a, body#maxrgb #t_maxrgb a, body#melt #t_melt a, body#meshwarp #t_meshwarp a, body#mesmerize #t_mesmerize a, body#midgradient #t_midgradient a, body#midtonebalance #t_midtonebalance a, body#mirrorize #t_mirrorize a, body#mode #t_mode a, body#modulatecolor1 #t_modulatecolor1 a, body#modulatecolor2 #t_modulatecolor2 a, body#moments #t_moments a, body#morphology #t_morphology a, body#mosaictiles #t_mosaictiles a, body#mottle #t_mottle a, body#multicrop #t_multicrop a, body#multicrop2 #t_multicrop2 a, body#multigradient #t_multigradient a, body#nearestcolor #t_nearestcolor a, body#neg2pos #neg2pos a, body#negative2positive #negative2positive a, body#nightvision #nightvision a, body#noisecleaner #t_noisecleaner a, body#normcrosscorr #t_normcrosscorr a, body#notch #t_notch a, body#omnistretch #t_omnistretch a, body#ortoneffect #t_ortoneffect a, body#otsuthresh #t_otsuthresh a, body#outfit #t_outfit a, body#outfitwarper #t_outfitwarper a, body#overlapcrop #t_overlapcrop a, body#pagecurl #t_pagecurl a, body#pagepeel #t_pagepeel a, body#painteffect #t_painteffect a, body#pano2fisheye #t_pano2fisheye a, body#pano2rect #t_pano2rect a, body#peelingpaint #tpeelingpaint a, body#perforations #t_perforations a, body#perlin #t_perlin a, body#phasecorr #t_phasecorr a, body#phashcompare #t_phashcompare a, body#phashconvert #t_phashconvert a, body#phashes #t_phashes a, body#picframe #t_picframe a, body#picturefold #t_picturefold a, body#pip #t_pinbarrel a, body#pip #t_pinbarrel a, body#pixelize #t_pixelize a, body#plm #t_plm a, body#plmlut #t_plmlut a, body#plot #t_plot a, body#plot3D #t_plot3D a, body#polar #t_polar a, body#polarblur #t_polarblur a, body#polyring #t_polyring a, body#popart #t_popart a, body#postagestamp #t_postagestamp a, body#posteredges #t_posteredges a, body#profile #t_profile a, body#pseudocolor #t_pseudocolor a, body#ptilethresh #t_ptilethresh a, body#puzzle #t_puzzle a, body#radialgradient #t_radialgradient a, body#radialgrid #t_radialgrid a, body#randomblob #t_randomblob a, body#randomclipart #t_randomclipart a, body#rangethresh #t_rangethresh a, body#recursion #t_recursion a, body#redeye #t_redeye a, body#redist #t_redist a, body#reflect #t_reflect a, body#remap #t_remap a, body#removecolorcast #t_removecolorcast a, body#replacecolor #t_replacecolor a, body#retinex #t_retinex a, body#rgbdots #t_rgbdots a, body#ripples #t_ripples a, body#rmsecorr #t_rmsecorr a, body#rotate3D #t_rotate3D a, body#sahoothresh #t_sahoothresh a,  body#saturation #t_saturation a, body#scalescroll #t_scalescroll a, body#scatter #t_scatter a, body#scatterchannels #t_scatterchannels a, body#screeneffects #t_screeneffects a, body#scriptbatch #t_scriptbatch a, body#separate #t_separate a, body#shadowhighlight #t_shadowhighlight a, body#shadows #t_shadows a, body#shapecluster #t_shapecluster a, body#shapecompare #t_shapecompare a, body#shapemorph #t_shapemorph a, body#shapemorph2 #t_shapemorph2 a, body#sharp #t_sharp a, body#shimmer #t_shimmer a, body#shuffle #t_shuffle a, body#sharpedge #t_sharpedge a, body#sigmoidal #t_sigmoidal a, body#similar #t_similar a, body#sinescrollimage #t_sinescrollimage a, body#sinescrolltext #t_sinescrolltext a, body#sketch #t_sketch a, body#sketcher #t_sketcher a, body#sketchetch #t_sketchetch a, body#sketching #t_sketching a, body#skew #t_skew a, body#slantedlight #t_slantedlight a, body#slice #t_slice a, body#smartcrop #t_smartcrop a, body#smarttrim #t_smarttrim a, body#softfocus #t_softfocus a, body#softlight #softlight a, body#space #t_space a,  body#space2 #t_space2 a, body#spectrum #t_spectrum a, body#spectrumhist #t_spectrumhist a, body#sphere #t_sphere a, body#sphericalpano2cube #t_sphericalpano2cube a, body#sphericalpano2rect #t_sphericalpano2rect a, body#spherize #t_spherize a, body#splice #t_splice a, body#spline #t_spline a, body#splitcrop #t_splitcrop a, body#splitimage #t_splitimage a, body#splittone1 #t_splittone1 a, body#splittone2 #t_splittone2 a, body#splittone3 #t_splittone3 a, body#spots #t_spots a, body#squareup #t_squareup a, body#ssim #t_ssim a, body#stainedglass #t_stainedglass a, body#starburst #t_starburst a,body#statsfilt #t_statsfilt a, body#stdimage #t_stdimage a, body#stretch #t_stretch a, body#striations #t_striations a, body#stutter #t_stutter a, body#surroundblur #t_surroundblur a, body#textcleaner #t_textcleaner a, body#textdeskew #t_textdeskew a, body#textdistort #t_textdistort a, body#texteffect #t_texteffect a, body#texteffect2 #t_texteffect2 a, body#textetch #textetch a, body#texturize #t_texturize a, body#thermography #t_thermography a, body#thresholds #t_thresholds a, body#tiler #t_tiler a, body#tileimage #t_tileimage a, body#tiltshift #t_tiltshift a, body#tintilize #t_tintilize a, body#tinyplanet #t_tinyplanet a, body#tonemap1 #t_tonemap1 a, body#tonemap2 #t_tonemap2 a, body#tonemap3 #t_tonemap3 a, body#tonemap4 #t_tonemap4 a, body#toon #t_toon a, body#toonify #t_toonify a, body#toonizarro #t_toonizarro a, body#toycamera #t_toycamera a, body#transfercolor #t_transfercolor a, body#transitions #t_transitions a, body#trianglethresh #t_trianglethresh a, body#tricolorize #t_tricolorize a, body#trim2detail #t_trim2detail a, body#trim2rect #t_trim2rect a, body#trimcorners #t_trimcorners a, body#trimmer #t_trimmer a, body#tshirt #t_tshirt a, body#tshirtwarp #t_tshirtwarp a, body#tshirtwarper #t_tshirtwarper a, body#tunnelize #t_tunnelize a, body#turbulence #t_turbulence a, body#turn #t_turn a, body#typewriter #t_typewriter a, body#unperspective #t_unperspective a, body#unrotate #t_unrotate a, body#unrotate2 #t_unrotate2 a, body#uwcorrect #t_uwcorrect a, body#variableblur #t_variableblur a, body#vibrance #t_vibrance a, body#vibrance2 #t_vibrance2 a, body#vibrance3 #t_vibrance3 a, body#videoglitch #t_videoglitch a, body#vignette #t_vignette a, body#vignette2 #t_vignette2 a, body#vignette3 #t_vignette3 a, body#vintage1 #t_vintage1 a, body#vintage2 #t_vintage2 a, body#vintage3 #t_vintage3 a, body#warholeffect #t_warholeffect a, body#watercolor #t_watercolor a, body#wavemap #t_wavemap a, body#whitebalance #t_whitebalance a, body#whitebalancing #t_whitebalancing a, body#whiteboard #t_whiteboard a, body#wiggle #t_wiggle a, body#woodbrand #t_woodbrand a, body#woodcut #t_woodcut a, body#woodgrain #t_woodgrain a, body#xpand #t_xpand a, body#xposure #t_xposure a, body#xtract #t_xtract a, body#zoomblur #t_zoomblur a, body#zoomrotatetext #t_zoomrotatetext a
	{
	color: blue;
	background-color: lemonchiffon;
	}

#nav a span {display: none;}

#nav a:hover span 
	{
	display: block;
	position: absolute;
	top: 120px; /* top of navbar roll-over message above buttons */
	left: 10px; 
	border: 1px solid black;
	padding: 5px; 
	margin: 10px; 
	z-index: 100;
	color: red; 
	background-color: white;
	font: 12px  Verdana, Arial, Helvetica, sans-serif;
	text-align: center;
	}

#cat_table 
	{
	position: relative;
	margin-bottom: 30px;
	}
	
#cat_table td a {text-decoration: none;}
#cat_table td a span {display: none;}

#cat_table a:link, a:active, a:visited 
	{
	color: #00f;
	text-decoration: none; 
	font:11pt Arial, Helvetica, sans-serif;
	}

#cat_table a:hover
	{
	color: #00f;
	background-color: mistyrose;
	text-decoration: none;
	font:11pt Arial, Helvetica, sans-serif;
	}
	
#cat_table td a:hover span#bottom
	{
	display: block;
	position: absolute;
	left: 0px;
	top: 3750px;   /* top of category table roll over message */
	width: 875px; /* width of category table roll over message */
	border: 1px solid black;
	padding: 5px; 
	margin: 0px; 
	z-index: 100;
	color: red; 
	background-color: white;
	font: 12px  Verdana, Arial, Helvetica, sans-serif;
	text-align: left;
	}

#cat_table td a:hover span#top
	{
	display: block;
	position: absolute;
	left: 0px;
	top: -40px;   /* top of category table roll over message */
	width: 875px; /* width of category table roll over message */
	border: 1px solid black;
	padding: 5px; 
	margin: 0px; 
	z-index: 100;
	color: red; 
	background-color: white;
	font: 12px  Verdana, Arial, Helvetica, sans-serif;
	text-align: left;
	}

-->
</style>
