[submodule "third-party/angelscript"]
	path = third-party/angelscript
	url = https://github.com/Qfusion/angelscript.git
[submodule "third-party/recastnavigation"]
	path = third-party/recastnavigation
	url = https://github.com/Warsow/recastnavigation.git
[submodule "third-party/openal-soft"]
	path = third-party/openal-soft
	url = https://github.com/Warsow/openal-soft.git
[submodule "third-party/sqlite-amalgamation"]
	path = third-party/sqlite-amalgamation
	url = https://github.com/Warsow/sqlite-amalgamation.git
[submodule "libsrcs"]
	path = libsrcs
	url = https://github.com/Warsow/qfusion-libsrcs.git
[submodule "third-party/magic_enum"]
	path = third-party/magic_enum
	url = https://github.com/Warsow/magic_enum.git
